@font-face {
  font-family: "iconfont"; /* Project id 4076281 */
  src: url('//at.alicdn.com/t/c/font_4076281_f5oi0mc1vhm.woff2?t=1684468802611') format('woff2'),
       url('//at.alicdn.com/t/c/font_4076281_f5oi0mc1vhm.woff?t=1684468802611') format('woff'),
       url('//at.alicdn.com/t/c/font_4076281_f5oi0mc1vhm.ttf?t=1684468802611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-biji:before {
  content: "\e90a";
}
